.resume_subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-right: 5.5rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.resume_container{
  padding-left: 10rem;
  align-items: center;
  position: relative;
  min-height: 80vh;
}